
body { 
  background-color: #78797a; 
  background-image:url("fractal.png");
  padding:10px;
  background-repeat: repeat-y;
  -o-background-size: 100% 100%, auto;
-moz-background-size: 100% 100%, auto;
-webkit-background-size: 100% 100%, auto;
background-size: 100% 100%, auto;;
  background-position:top;
  background-attachment:fixed; background-origin:content-box;
}
nav li {font: arial; display:inline; padding-right:10px;}

a:visited {color:#87D40D;}
a {color:#87D40D;text-decoration:none;}
a:hover {color:#FFB734;text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87}

.subnav {
  list-style: none; 
  padding-left:0px;
  font-family: 'Open Sans', sans-serif;
}

/* Class Methods */
  .w200{
    width:200px;
	font-family: 'Open Sans', sans-serif;
  }

  .w600{
    width:600px;
	font-family: 'Open Sans', sans-serif;
  }
  
  .w700{
    width: 700px;
	font-family: 'Open Sans', sans-serif;
  }

  .m10{
    margin: 10px;
	font-family: 'Open Sans', sans-serif;
  }

  .m10l{
    margin-left: 10px;
	font-family: 'Open Sans', sans-serif;
  }
  
  .p5{
    padding: 5px;
	font-family: 'Open Sans', sans-serif;
  }

  .textright{
    text-align: right;
	font-family: 'Open Sans', sans-serif;
  }

  .textleft{
    text-align: left;
	font-family: 'Open Sans', sans-serif;
  }

  .left{
    float:left;
	font-family: 'Open Sans', sans-serif;
  }

  .right{
    float:right;
	font-family: 'Open Sans', sans-serif;
  }

  .fix{
    clear:both;
	font-family: 'Open Sans', sans-serif;
  }
  
  .bold{
    font-weight: bold;
	font-family: 'Open Sans', sans-serif;
  }
  
  .greenbg{
    /* Fallback for web browsers that doesn't support RGBa */
		background: rgb(95, 124, 125);
		/* RGBa with 0.6 opacity */
		background: rgba(95, 124, 125, 0.75);
    color: black;
	font-family: 'Open Sans', sans-serif;
  }
  
/* Layout */  
  .wrapper{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
	font-family: 'Open Sans', sans-serif;
  }
  
  .content{
    font-family: 'Open Sans', sans-serif;
  }
  
  .content_left a{
    padding: 5px 0px;
    display: block;
	font-family: 'Open Sans', sans-serif;
  }

  .footer {
    text-align:right
	font-family: 'Open Sans', sans-serif;
	color:#87D40D;
   position:relative;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}
  }
  
  p { 
    margin: 0px;
    padding: 0px;
    line-height: 1.75em;
    font-family: 'Open Sans', sans-serif;
  }
  
  h1, h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
  }
 
  
  